# Control de horas de laboratorio

**Alumno:** VASQUEZ RAMOS, Jose Manuel

**Fecha:** 30/04/2025

## Problema

**Contexto real:**

En el laboratorio de computación, cada estudiante paga **S/ 2.00** por hora de uso de las
computadoras. Se ha registrado el uso semanal de cinco compañeros:

| ESTUDIANTE | HORAS_USADAS |
|------------|--------------|
| ANA        | 3            |
| LUIS       | 5            |
| MARÍA      | 2            |
| JUAN       | 4            |
| CARLA      | 1            |

**Objetivo del ejercicio:**

Con Pandas, crea un DataFrame para gestionar estos datos y responde:

1. ¿Cuál es el costo total que paga cada estudiante?
2. ¿Cuál es el gasto promedio por estudiante?
3. ¿Qué estudiantes han gastado más de S/ 6.00 en la semana?

## Librerías

In [1]:
import pandas as pd

## Planteamiento

In [2]:
datos = {
    'Estudiantes': ['Ana', 'Luis', 'Maria', 'Juan', 'Carla'],
    'Horas_usadas': [3, 5, 2, 4, 1]
}

## Solución

Usamos pandas para construir el DataFrame

In [3]:
df = pd.DataFrame(datos)
df.head()

  Estudiantes  Horas_usadas
0         Ana             3
1        Luis             5
2       Maria             2
3        Juan             4
4       Carla             1

Añadimos la columna costo total

In [4]:
df['Costo_total'] = df['Horas_usadas'] * 2
df.head()

  Estudiantes  Horas_usadas  Costo_total
0         Ana             3            6
1        Luis             5           10
2       Maria             2            4
3        Juan             4            8
4       Carla             1            2

Calculamos estadisticas descriptivas

In [5]:
estadisticas = df['Costo_total'].describe()
estadisticas

count     5.000000
mean      6.000000
std       3.162278
min       2.000000
25%       4.000000
50%       6.000000
75%       8.000000
max      10.000000
Name: Costo_total, dtype: float64

Obtenemos el promedio

In [12]:
promedio = df['Costo_total'].mean()

Filtramos registros donde costo total sea mayor a 6

In [13]:
costo_mayor_6 = df[df['Costo_total'] > 6.0]
costo_mayor_6.head()

  Estudiantes  Horas_usadas  Costo_total
1        Luis             5           10
3        Juan             4            8

## Respuestas

1. ¿Cuál es el costo total que paga cada estudiante?

In [15]:
print('El costo total que paga cada estudiante es:')
for i, row in df.iterrows():
    print(f"- {row['Estudiantes']}: S/ {row['Costo_total']:.2f}")

El costo total que paga cada estudiante es:
- Ana: S/ 6.00
- Luis: S/ 10.00
- Maria: S/ 4.00
- Juan: S/ 8.00
- Carla: S/ 2.00

2. ¿Cuál es el gasto promedio por estudiante?

In [16]:
print(f"El gasto promedio por estudiante es: S/ {promedio:.2f}")

El gasto promedio por estudiante es: S/ 6.00

3. ¿Qué estudiantes han gastado más de S/ 6.00 en la semana?

In [17]:
print("Estudiantes que gastaron más de S/ 6.00:")
if not costo_mayor_6.empty:
    for estudiante in costo_mayor_6['Estudiantes']:
        print(f'- {estudiante}')
else:
    print("Ningún estudiante gastó más de S/ 6.00")

Estudiantes que gastaron más de S/ 6.00:
- Luis
- Juan